@import url(variables.css);
@import url(seccionProyectos.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-grow: 1;
  padding-left: 600px;
  font-family: "Inter", sans-serif;
}

.logo1 {
  width: 45px;
  height: auto;
  margin-right: 200px;
}

.main {
  background-image: url('../media/Imagenes/principal.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 23%;
  color: var(--color-secundario);
  text-align: center;
  flex-wrap: wrap;
}

.main h1 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding: 1%;
  width: 65%;
  height: auto;
}

.main img {
  width: 60%;
  height: auto;
}

.boton {
  background-color: var(--color-primario);
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid var(--color-secundario);
  font-family: "Inter", sans-serif;
}

.popup {
  color: var(--color-secundario);
  background-color: var(--color-primario);
  display: flex;
  width: 40%;
  height: 7%;
  text-align: justify;
  padding: 2.5%;
  opacity: 0.7;
  align-self: flex-start;
}


.Colaboradores {
  background-color: var(--color-primario) !important;
  color: var(--color-secundario);
  font-family: "Inter", sans-serif;
  height: 380px;
}

.Colaboradores h2{
  padding: 40px 0 80px 80px;
  font-size: 33px;
}

.Colaboradores-container{
  display: flex;
  flex-direction: row;
  padding: 1%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Colaboradores img {
  inline-size: 150px;
}

.Contacto {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  font-family: "Inter", sans-serif;
}

.iconos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.iconos img {
  width: 40px;
  height: auto;
}