:root {
  --color-primario: #101010; /* Elegí el valor del segundo archivo como base */
  --color-secundario: #fff;
  --color-terciario: #FFC65B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-grow: 1;
  padding-left: 600px;
  font-family: "Inter", sans-serif;
}

.logo1 {
  width: 45px;
  height: auto;
  margin-right: 200px;
}

.main {
  background-image: url('media/Imagenes/principal.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 23%;
  color: var(--color-secundario);
  text-align: center;
  flex-wrap: wrap;
}

.main h1 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding: 1%;
  width: 65%;
  height: auto;
}

.main img {
  width: 60%;
  height: auto;
}

.boton {
  background-color: var(--color-primario);
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid var(--color-secundario);
  font-family: "Inter", sans-serif;
}

.slider {
  width: 500px;
  height: auto;
  overflow: hidden;
  position: relative;
}

.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#prev-btn {
  left: 10px;
}

#next-btn {
  right: 10px;
}

.slider-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-inner img {
  width: 100%;
  height: auto;
  user-select: none;
}

.popup {
  color: var(--color-secundario);
  background-color: var(--color-primario);
  display: flex;
  width: 40%;
  height: 7%;
  text-align: justify;
  padding: 2.5%;
  opacity: 0.7;
  align-self: flex-start;
}

.Proyectos {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  font-family: "Inter", sans-serif;
}

.colaboradores {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  font-family: "Inter", sans-serif;
}

.colaboradoresimg {
  display: flex;
  flex-direction: row;
  padding: 1%;
  gap: 10%;
}

.Contacto {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primario);
  color: var(--color-secundario);
  font-family: "Inter", sans-serif;
}

.iconos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.iconos img {
  width: 40px;
  height: auto;
}
