@import url(variables.css);
@import url(seccionProyectos.css);
@import url(barra.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  height: 94px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-grow: 1;
  padding-left: 600px;
  font-family: "Inter", sans-serif;
}

.logo1 {
  width: 45px;
  height: auto;
  margin-right: 200px;
}

/* ------------------------------------sección de header----------------------------------------------------- */
.main {
  background-image: url('../media/Imagenes/principal.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--color-primario);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 23%;
  color: var(--color-secundario);
  text-align: center;
  flex-wrap: wrap;
}

.main h1 {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding: 1%;
  width: 65%;
  height: auto;
}

.main img {
  width: 60%;
  height: auto;
}

.main button {
  background-color: var(--color-primario);
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid var(--color-secundario);
  font-family: "Inter", sans-serif;
  color: var(--color-secundario);
  font-size: 26px;
  cursor: pointer;
  transition: background-color 0.4s, transform 0.2s, color 0.4s;
}
/* Animación al pasar el mouse */
.main button:hover {
  background-color: var(--color-terciario); /* Cambia a amarillo al pasar el mouse */
  color: var(--color-primario); /* el texto puede cambiar para seguir viéndose bien */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra flotante */
}

/* Animación al dar clic */
.main button:active {
  transform: scale(0.95); /* Se encoge un poquito al hacer clic */ }

/* -------------------------------Sección de pop up--------------------------------------------------------- */

.popUpContainer {
  width: 100%;
  height: 500px;
  /* Aseguramos que el contenedor ocupe toda la altura de la ventana */
  position: absolute;
  /* Permite que los elementos dentro de él se posicionen */
  overflow: hidden;
  /* Evita que el pop-up se salga del contenedor */
  font-family: "Inter", sans-serif;
}

.popUpContainer .popUp {
  color: var(--color-secundario);
  background-color: rgba(16, 16, 16, 0.6);
  width: 30%;
  /* Ancho del pop-up */
  height: auto;
  /* Alto del pop-up */
  text-align: justify;
  padding: 2.5%;
  opacity: 0;
  /* Comienza invisible */
  position: absolute;
  top: 0;
  right: 0;
  /* Está alineado a la derecha del contenedor */
  transform: translateX(100%);
  /* Comienza fuera de la pantalla, a la derecha */
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  /* Animación de deslizamiento y fade-in */
}

.popUpContainer:hover .popUp {
  transform: translateX(0);
  /* Desliza el pop-up hacia la vista */
  opacity: 1;
  /* Hace que el pop-up sea completamente visible */
}

/* -------------------------------Sección de colaboradores--------------------------------------------------------- */

.Colaboradores {
  text-align: left;
  padding: 40px;
  background-color: var(--color-primario); 
  font-family: "Inter", sans-serif;
  color: var(--color-secundario);
}
.barrasushi{
  overflow: hidden;
  width: 100%;
}

.Colaboradores-container {
  display: flex;
  align-items: center;
  gap: 60px;
  animation: moverlogos 25s linear infinite;
}

.Colaboradores-container img {
  width: 200px; /* Ajusta el tamaño de los logos */
  height: auto;
}

/* Keyframes para moverlos */
@keyframes moverlogos {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.Colaboradores-container:hover {
  animation-play-state: paused;
}
/* --------Parte responsive------------ */
@media (max-width: 768px) {
  .Colaboradores-container img {
    width: 80px; /* Reducimos tamaño de logos en tabletas/móviles */
  }
}

@media (max-width: 480px) {
  .Colaboradores-container img {
    width: 60px; /* Aún más pequeños en pantallas muy chiquitas */
  }

  .Colaboradores-container {
    animation: moverlogos 40s linear infinite; /* Un poco más lenta en celular */
  }
}


/* ------------------------------------sección de contacto----------------------------------------------------- */

.contacto {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  padding: 40px;
  font-family: "Inter", sans-serif;
  text-align: start;
  /* centra el h2 */
}

/* Contenedor del formulario + datos */
.contacto-formulario {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10%;
  flex-wrap: wrap;
  /* Para que en móvil se acomode bonito */
  text-align: left;
  /* alineación interna normal */
}



/*Formulario */

.formulario h2 {
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.formulario input,
.formulario textarea {
  background: var(--color-secundario);
  border: none;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 12px;
  font-family: "Inter", sans-serif;

}

.formulario textarea {
  height: 120px;
  resize: none;
}

.formulario button {
  background-color: transparent;
  color: var(--color-secundario);
  border: 1px solid var(--color-terciario);
  border-radius: 7px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  width: 20%;
  align-self: center;
}

.formulario button:hover {
  background-color: var(--color-terciario);
  color: var(--color-primario);
  transform: scale(1.10);
  /* pequeño aumento al pasar el mouse */
}

.formulario button:active {
  transform: scale(0.97);
  /* leve compresión al hacer clic */
}


.contacto-datos {
  flex: 1;
  max-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.iconos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.iconos img {
  width: 50px;
  height: 50px;
}





/* --------------- Mobile First - Ajustes para pantallas pequeñas (hasta 767px) --------------- */

@media (max-width: 767px) {
  /* 1. Main Section */
  .main {
    background-color: #4b4b4b; /* Fondo negro en pantallas pequeñas */
    background-image: none; /* Elimina la imagen de fondo */
    color: var(--color-secundario);
    padding: 15% 10%; /* Ajusta el padding para móviles */
  }

  .main h1 {
    width: 100%; /* Aumenta el ancho en pantallas pequeñas */
  }

  .main img {
    width: 80%; /* Ajusta el tamaño de la imagen en móviles */
  }
}

/* --------------- Pantallas medianas (768px - 1024px) --------------- */

@media (min-width: 768px) and (max-width: 1024px) {
  /* 1. Main Section */
  .main {
    background-image: url('../media/Imagenes/principal.jpg'); /* Muestra la imagen de fondo */
    background-size: cover;
    background-position: center;
    padding: 23%; /* Ajusta el padding para pantallas medianas */
  }

  .main h1 {
    width: 65%; /* Ajusta el ancho del h1 en pantallas medianas */
  }

  .main img {
    width: 60%; /* Ajusta el tamaño de la imagen en pantallas medianas */
  }
}

/* --------------- Pantallas grandes (1024px en adelante) --------------- */

@media (min-width: 1024px) {
  /* 1. Main Section */
  .main {
    background-image: url('../media/Imagenes/principal.jpg'); /* Muestra la imagen de fondo */
    background-size: cover;
    background-position: center;
    padding: 23%; /* Mantiene el padding en pantallas grandes */
  }

  .main h1 {
    width: 65%; /* Ajusta el ancho del h1 en pantallas grandes */
  }

  .main img {
    width: 60%; /* Ajusta el tamaño de la imagen en pantallas grandes */
  }
}

@media (max-width: 1023px) {
  .contacto-datos {
    max-width: 100%; /* para aprovechar más el ancho en pantallas pequeñas */
    margin-top: 20px;
  }

  .iconos {
    flex-direction: row;
    align-items: center;
  }

  .iconos p {
    margin-left: 10px;
  }
}

